/* grid for work section */

.cards {
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: repeat(autofill, 150px);
    background-color: darkslategrey;
    color: antiquewhite;
}

.a {
    grid-column: 1 / 3 ;
} 

.b {
    grid-column: 1 / 2 ;
    grid-row: 2 ;
}

.c {
    grid-column: 2 / 3 ;
    grid-row: 2 ;
}

.d {
    grid-column: 1 /3 ;
    grid-row: 3 ;
}

.e {
    grid-column: 2 / 3 ;
    grid-row: 3 ;
}

.jumbotron img {
    width: 80%;
}